<!DOCTYPE html>
<html>
    <head>
    <title>Stary Night</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    </head>
    <body>
            <label>Longitude: </label>
            <input id="longitude"/>
            <br>
            <label>Latitude: </label>
            <input id="latitude"/>
            <br>
            <label>Date: </label>
            <input type="text" id="date" placeholder="YYYY-MM-DD">
            <br>
            <label>Elevation: </label>
            <input type="text" id="elevation">
            <br>
            <label>Time: </label>
            <input type="text" id="time" placeholder="HH:mm:ss">
            <br>
            <button id="GenerateStarMap">Show Stars</button>
            <button id="saveData" type="submit">Save Search Data</button>

            <br>
            <br>
            <img id="starMap">

    </body>
</html>